## All Non-Dist Directories
.circleci/
config/
coverage/
documentation/
examples/
meteor/
src/
test/
testImages/

## Root Files
.babelrc
.env
.eslintignore
.eslintrc.js
.gitignore
.jsdocrc
.travis.yml